<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 선택사항 : 별칭 사용가능 -->
<typeAliases>
	<typeAlias type="com.ict.edu.VO" alias="vo"/>
</typeAliases>

  <mappers>
    <mapper resource="mapping/mapper.xml"/>
  </mappers>
</configuration>